.footer-container {
  background-color: #232f3e;
  color: #fff;
  padding: 30px 20px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.footer-info {
  grid-column: 1;
}

.footer-contact {
  grid-column: 2;
}

.footer-sales {
  grid-column: 3;
}

.footer-info,
.footer-contact,
.footer-sales {
  justify-self: center;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 4px;
}
