.footer-container {
  background-color: #232f3e;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(3, 1fr);
  bottom: 0;
  width: 100%;
}

.footer-container li {
  cursor: pointer;
  margin: 5px;
  transition: color 0.2s ease; /* Add transition for color change */
}
.footer-container li:hover {
  color: #888; /* Change to your desired lighter color */
}
.footer-info {
  grid-column: 1;
}

.footer-contact {
  grid-column: 2;
}

.footer-sales {
  grid-column: 3;
}

.footer-info,
.footer-contact,
.footer-sales {
  justify-self: center;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 4px;
}
