/* AmazonNavbar.css */
body,
html {
  margin: 0;
  padding: 0;
}
/* Navbar container */
.amazon-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232f3e;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Amazon logo */
.logo {
  color: white;
  font: bold;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Search bar container */
.search-bar {
  display: flex;
  align-items: center;
}

/* Search input */
.search-bar input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

/* Search button */
.search-bar button {
  background-color: #ff9900;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

/* Navigation links */
.nav-links a {
  position: relative; /* Set position to relative */
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}
.nav-links a::after {
  content: ""; /* Add content */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initial width is zero */
  height: 2px;
  background-color: #ff9900;
  transition: width 0.3s ease; /* Transition the width */
}

.nav-links a:hover::after {
  width: 100%; /* When hovering, set width to 100% */
}
/* Account options container */
.account-options {
  display: flex;
  align-items: center;
}

/* Account */
.account {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
}

.account a {
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
}

/* Orders */
.orders a {
  position: relative; /* Set position to relative */
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

/* Cart */
.cart a {
  position: relative; /* Set position to relative */
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.orders a::after,
.cart a::after {
  content: ""; /* Add content */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initial width is zero */
  height: 2px;
  background-color: #ff9900;
  transition: width 0.3s ease; /* Transition the width */
}

.orders a:hover::after,
.cart a:hover::after {
  width: 100%; /* When hovering, set width to 100% */
}
@media (max-width: 768px) {
  .amazon-navbar {
    flex-direction: column;
    align-items: stretch;
    padding: 10px 10px;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  .search-bar input[type="text"] {
    width: 100%;
    margin-right: 0;
  }

  .search-bar button {
    width: 100%;
    margin-right: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .nav-links a {
    margin: 5px 0;
  }

  .account-options {
    margin-top: 10px;
  }

  .account,
  .orders,
  .cart {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
