.page-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; /* Adjust the gap between items as needed */
  width: 100%;
}
.item-display {
  margin-bottom: 10px;
}

.item-name {
  flex-grow: 1;
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px; /* Add margin to the right of the name */
}

.item-price {
  margin-top: 2px; /* Adjust the margin for better alignment */
}
