.store-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* or row, depending on your layout */
  align-items: center; /* or flex-start/end, as needed */
  justify-content: center; /* or flex-start/end, as needed */
  text-align: center;
  height: 350px;
  margin-bottom: 20px;
  transition: transform 0.3s; /* Add a transition for smooth animation */
}
.store-item:hover {
  outline: 4px solid #2980b9;
  transform: scale(1.1); /* Enlarge the item on hover */
}
.product-image {
  width: 100%; /* Take up full width */
  max-width: 200px; /* Set maximum width */
  height: auto; /* Maintain aspect ratio */
}

.item-name {
  font-weight: bold;
  font-size: 20px; /* Adjust font size */
  align-self: flex-start;
}
/* Styles for Mobile Screens */
@media (max-width: 768px) {
  .store-item {
    height: auto; /* Allow items to grow in height as needed */
  }

  .item-name {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}
