.store-item {
  max-width: 200px; /* Adjust the maximum width as needed */
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding around the items */
  transition: background-color 0.3s ease;
  /* border: 1px solid #ccc; Optional: Add a border around the container */
  border-radius: 8px; /* Optional: Add rounded corners to the container */
}
.store-item:hover {
  background-color: #2980b9;
}
.product-image {
  max-width: 100%; /* Set the maximum width to 100% of the container */
  max-height: 100%; /* Set the maximum height to 100% of the container */
  object-fit: cover; /* This property ensures the image covers the entire container without stretching */
}
