/* AmazonNavbar.css */
body,
html {
  margin: 0;
  padding: 0;
}
/* Navbar container */
.amazon-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232f3e;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Amazon logo */
.logo {
  color: white;
  font: bold;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Search bar container */
.search-bar {
  display: flex;
  align-items: center;
}

/* Search input */
.search-bar input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

/* Search button */
.search-bar button {
  background-color: #ff9900;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

/* Navigation links */
.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

/* Account options container */
.account-options {
  display: flex;
  align-items: center;
}

/* Account */
.account {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
}

.account a {
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
}

/* Orders */
.orders a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

/* Cart */
.cart a {
  color: #fff;
  text-decoration: none;
}
