.page-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; /* Adjust the gap between items as needed */
  width: 100%;
}
